#fb-root
:javascript
  // Additional JS functions here
    window.fbAsyncInit = function() {
        FB.init({
              appId      : #{ENV['FB_ID']}, // App ID
              channelUrl : '//ec2-54-234-26-29.compute-1.amazonaws.com:9000/channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
                });

                                
        FB.getLoginStatus(function(response) {
        console.log(response);
        // connected
        if (response.status === 'connected') {
        testAPIconnected();
        console.log("connected");
        } else if (response.status === 'not_authorized') {
        console.log("not_authorized");
        login();
        } else {
        console.log("not_logged_in");
        login();
        }
        });

      };

      
      // Load the SDK Asynchronously
      (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)) {return;}
               js = d.createElement('script'); js.id = id; js.async = true;
               js.src = "//connect.facebook.net/en_US/all.js";
                   ref.parentNode.insertBefore(js, ref);
                   }
       (document));


       //Login foo
       /*Under normal circumstances you should attach this FB.login() call to a Javascript onClick event as the call results in a popup window being opened, which will be blocked by most browsers.*/

       function login() {
       FB.login(function(response) {
       if (response.authResponse) {

       testAPI();
       window.location = '/callback';
       } else {
       // cancelled
       }
       console.log(response);
       }, {scope: 'user_hometown, friends_hometown, user_location, friends_location, user_status, friends_status, user_photos, friends_photos, user_about_me, user_checkins, friends_checkins'});
       }

       function testAPIconnected() {
       console.log('You\'re connected! Fetching your information.... ');       
       FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
       });
       }
       
       function testAPI() {
       console.log('Welcome!  Fetching your information.... ');       
       FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
       });
       }